*{
  margin: 0;
  padding: 0;
}

@link-red: #ff6a71;

.clearfix{
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.center_h{
  margin: 0 auto;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.small-font{
  font-family: 'pt sans';
  font-size: 14px;
  color: #abacae;
}
a{
  text-decoration: none !important;
}
body{
  font-family: 'pt serif';
  font-size: 18px;
  color: #82838e;
}
header {
  //  color: rgba(255, 255, 255, 0.5);
  color: #fff;
  height: 800px;
  background-color: #303160;
  margin-bottom: 60px;
  position: relative;
}
   .wrapper{
     .clearfix();
    width: 960px;
    .center_h;
    & .logo{
      margin-top: 50px;
    }
    & h1{
      margin-top: 213px;
      font-family: 'pt sans caption';
      font-size: 48px;
      word-wrap: break-word;
    }
    & time{
      opacity: .5;
      display: block;
      margin-bottom: 30px;
    }
    & p{
      word-wrap: break-word;
   }
   }

main{
  width: 960px;
  margin: 60px auto 0;
  & p{
    word-wrap: break-word;
    width: 800px;
    font-family: 'pt serif';
    font-size: 18px;
    line-height: 30px;
    color: #82838e;
    margin: 0 auto 60px;
  }
  & img{
    display: block;
    .center_h;
  }
  & img + img, & img + figcaption{
      margin-top: 20px;
  }
  & img + p{
    margin-top: 60px;
  }
  & figcaption{
    text-align: center;
    margin: 5px auto 35px;
    font-family: 'pt sans';
    font-size: 14px;
    color: #abacae;
  }
}

nav.primary{
  margin-top: 54px;
  font-family: 'pt sans';
  font-size: 18px;
  float: right;
  .clearfix();
  & ul{
    margin: 0;
    padding: 0;
    & li{
      display: inline-block;
      margin-left: 50px;
      & a{
        color: #fff;
        padding-bottom: 10px;
        &:hover{
          border-bottom: 3px solid @link-red;
          transition: 0.3s ease;
        }
      }
    }
  }
}

nav.pagination{
  margin: 100px 0;
  padding: 29px 0 109px;
  border-top: 1px dashed #82838e;
  border-bottom: 1px solid black;
  & .circle{
    display: block;
    background-color: #f2f3f5;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
  }
  & a{
    text-decoration: none;
    & .pull-left.next-text{
      text-align: left;
      margin-left: 10px;
    }
    & .pull-right.next-text{
      text-align: right;
      margin-right: 10px;
    }
    & .title{
      font-family: 'pt sans caption';
      font-size: 18px;
      color: #2e3039;
    }
  }
}

.wrapper.admin-wrapper{
  & nav.primary{
    margin-top: 70px;
    & a{
      color: #2e3039;

    }
  }
  & .logo{
//    margin-bottom: 30px;
  }
  & .exit{
//    margin-bottom: 30px;
    display: inline-block;
    & a{
      color:@link-red;
      &:hover{
        &:hover{
          border-bottom: 2px solid @link-red;
          transition: 0.3s ease;
        }
      }
    }
  }

}
div.archive-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 960px;
  margin: 60px auto 0;
  & .add-new{
    & .post-image{
      &:hover{
        .circle{
          background: @link-red url(/public/dist/images/plus_white.png) no-repeat 50%;
          border: none;
        }
      }
      display: flex;
      background-color: #f2f3f5;
      & .circle{
        z-index: 10;
        width: 44px;
        height: 44px;
        margin: auto;
        border: 2px solid #d5d6d9;
        border-radius: 50%;
        background: url(/public/dist/images/plus.png) no-repeat 50%;
      }
    }
  }
}

.post-image {
  position: relative;
  display: flex;
  background-size: cover;
  width: 300px;
  height: 200px;
  & .controls{
    width: 116px;
    margin: auto;
    z-index: 10;
    display: none;
    & .edit, & .delete{
      display: inline-block;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-position: 50%;
      border: 2px solid #9c9c9f;
      &:hover{
        background-color: @link-red;
        border: none;
      }
    }
    & .edit{
      background-image: url(/public/dist/images/edit.png);
    }
    & .delete{
      background-image: url(/public/dist/images/delete.png);

  }
  }
}
.item {
  margin-bottom: 50px;
  &:nth-child(3n + 2) {
    margin: 0 30px 50px;
  }
  & .title{
    font-family: 'pt sans caption';
    font-size: 20px;
    color: #2e3039;
  }
  & .post-image {
    &:before {
      transition: 0.3s ease;
      content: '';
      display: block;
      background: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &:hover {
      .controls{
        display: flex;
        justify-content: space-between;
      }
      &:before {
        transition: 0.3s ease;
        content: "";
        z-index: 10;
        display: block;
        background: rgba(46, 48, 57, 0.75);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

    &.hidden {
      & .title{
        color: #abacae;
      }
      & .post-image{
      &:before {
        transition: 0.3s ease;
        content: "";
        z-index: 10;
        display: block;
        background: rgba(255, 255, 255, 0.75);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      &:after {
        transition: 0.3s ease;
        content: "";
        background: url(/public/dist/images/eye_black.png) no-repeat;
        z-index: 10;
        display: block;
        background-position: top 15px right 15px;
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        right: 0;
      }
      &:hover {
        &:before {
          transition: 0.3s ease;
          content: "";
          z-index: 10;
          display: block;
          background: rgba(46, 48, 57, 0.75);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
        &:after {
          transition: 0.3s ease;
          content: "";
          background: url(/public/dist/images/eye_white.png) no-repeat;
          z-index: 10;
          display: block;
          background-position: top 15px right 15px;
          position: absolute;
          width: 50px;
          height: 50px;
          top: 0;
          right: 0;
        }
      }
    }
  }
}


section.login {
  & img {
    display: block;
    margin: 210px auto 50px;
  }
}
  form {
    width: 460px;
    .center_h;
  }
  input, textarea{
      outline-color: @link-red;
      box-sizing: border-box;
      display: block;
      width: 460px;
      height: 50px;
      border: 2px solid #d5d6d9;
      color: #2e3039;
      margin: 5px 0 20px;
      padding: 0 10px;
      &[type='submit']{
        background-color: @link-red;
        color: #fff;
        border: none;
        width: 180px;
        margin: 50px auto 0;
        font-family: 'pt sans';
        font-size: 18px;
      }

  }

section.editor{
  width: 960px;
  .center_h;
  & h1{
    margin: 60px 0 30px;
    text-align: center;
    font-family: 'pt sans caption';
    font-size: 30px;
    color: #2e3039;
  }
  & textarea{
    height: 143px;
    resize: vertical;
    padding: 15px 10px;
    &.contenteditable{
      width: 960px;
      margin: 0 auto 50px;
      height: 300px;
      padding: 20px;
    }
  }
}
.half{
  display: flex;
  flex-direction: column;
}

.result_action{
  text-align: center;
  color: #2e3039;
  margin-top: 200px;
  height: 200px;
  background-color: #f2f3f5;
  padding-top: 50px;
  & label{
    margin: 0 0 25px;
    display: block;
    & input{
      border: 2px solid @link-red;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 0;
    }
  }
  & button{
    border: 2px solid #d5d6d9;
  }
}

.btn-result{
  border: 2px solid #aaabaf;
  width: 180px;
  font-family: 'pt sans';
  font-size: 18px;
  box-sizing: border-box;
  height: 50px;
  margin-right: 20px;
  background: none;
  &:hover{
    background-color: @link-red;
    border: none;
    color: #fff;
  }
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: auto;
  overflow-y: scroll;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 150%);
  -ms-transform: translate(0, 150%);
  transform: translate(0, 150%);
}

.modal-dialog {
  position: relative;
  z-index: 1050;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  outline: none;
  background-clip: padding-box;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background: rgba(46, 48, 57, 0.85);
}


.modal-body {
  position: relative;
  padding: 20px;
  color: #fff;
  font-family: 'pt sans caption';
  font-size: 48px;
  text-align: center;
}

.modal-footer {
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: center;
  .clearfix();
  & .btn-result{
    color: #fff;
  }
}



